# Скопируй: cp .env.local.example .env
# Замени !ChangeMe! на пароль PostgreSQL и APP_SECRET на случайную строку.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_random_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://postgres:!ChangeMe!@127.0.0.1:5432/tasks_tz?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
